*
{
	padding: 0px;
	margin:0px;
    font-family:Bahnschrift Light, sans-serif;
    box-sizing: border-box;

}
html
{
    scroll-behavior: smooth;
}

/*menu de nav*/
#header-menu
{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}
nav
{
	border-bottom-style: solid;
	border-bottom-width: 1px; 
	background-color: white;

}

#ul-nav-menu
{
	margin: 0px auto;
	width: 86%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav li
{
	display: inline-block;
}


.nav-menu-center li a, .nav-menu-right li a
{
	padding:10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	border-radius: 7px;

}
#loginbtn, #homebtn
{
	background-color: #d65106;
	color: white;
}


.nav-menu-center li a:not(.liens_user):hover, .nav-menu-right li a:not(.liens_user):hover
{
	color:white;
	background-color: #d65106;
	transition: 0.4s;
}
#dropdown
{
	position: relative;

}
#menu-vertical
{
	position: absolute;
	display: none;
	border:solid;
	width:150px;
	background: white;
	border-radius: 5px;
	padding: 5px;
}

#dropdown:hover #menu-vertical
{
	display: block;

}
#menu-vertical li
{
	padding: 8px;
}
#menu-vertical li a:hover
{
	color:#d65106;
	text-decoration: underline;

}
.liens_user
{
	color: black;
	font-weight: bold;
	text-transform: capitalize;
	
}

.img
{
	background-image: url("../images/menu-img.jpg");
	background-size: cover;
	height: 400px;
	padding-top: 150px;
}
.discover
{
	font-family: Tangerine;
	font-size: 70px;
	color: #FFA500;

}

.section-title
{
	font-family: open Sans;
	font-size: 40px;
	color: white;
}
.section-title2
{
	font-family: open Sans;
	font-size: 30px;
	color: black;

}


table
{
	width: 70%;
	margin: 50px auto;
}
td
{
	text-align: center;
	padding: 20px;
	border-bottom: solid;
	border-width: 1px;
}
tr:nth-child(2n+1):not(:first-child)
{
	background-color:#fddece;

}
tr:nth-child(2n)
{
	background-color:#feefe7;
}
th
{
	border-bottom: solid;
	padding: 20px 0px;
	border-width: 1px;
	background-color: #d65106;
	color: white;
}
footer
{
	height:370px;
	background-color: #272632;
}


footer ul
{
	list-style: none;
}

footer ul li
{
	display: inline-block;
	padding: 100px 10px;
}
section
{
	padding-top: 100px;
}
#reservation input,#reservation select
{
	cursor: pointer;
}
#reservation
{
	height: 950px;
	background-color: #222;
}
#reservation p
{
	color:white;
	width: 86%;
	margin: 50px auto;
	text-align: center;
	
}
#reservation form
{
	width: 50%;
	margin: 0 auto;
}
#reservation input, #reservation select, #reservation textarea
{
	width: 100%;
	margin-bottom: 20px;
	margin-top: 5px;
}
#reservation label
{
	color: white;
}
#reservation input,select
{
	height: 40px;
}
#reservation textarea
{
	height: 200px;
}
hr
{
	width: 86%;
	margin: 60px auto;
	background-color: #222;
	height: 5px;
}
#ajouter_table
{
	padding: 20px;
	text-decoration: none;
	border-radius: 5px;
	color:#d65106;
	text-align: center;
	border: solid 2px #d65106;
	font-weight: bold;
}

#ajouter_table:hover
{
	background-color: #d65106;
	color: white;
	font-weight: bold;


}