*
{
	padding: 0px;
	margin:0px;
    font-family:Bahnschrift Light, sans-serif;
    box-sizing: border-box;

}

/*menu de nav*/
#header-menu
{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}
nav
{
	border-bottom-style: solid;
	border-bottom-width: 1px; 
	background-color: white;

}

#ul-nav-menu
{
	margin: 0px auto;
	width: 86%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav li
{
	display: inline-block;
}


.nav-menu-center li a, .nav-menu-right li a
{
	padding:10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	border-radius: 7px;

}
#loginbtn, #homebtn
{
	background-color: #d65106;
	color: white;
}


.nav-menu-center li a:not(.liens_user):hover, .nav-menu-right li a:not(.liens_user):hover
{
	color:white;
	background-color: #d65106;
	transition: 0.4s;
}

.img
{
	background-image: url("../images/menu-img.jpg");
	background-size: cover;
	height: 400px;
	padding-top: 150px;
}
table
{
	width: 70%;
	margin: 50px auto;
}
td
{
	width: 50%;
	vertical-align: top;
	padding: 35px;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.clearfix:after
{
	display:table;
	content: "";
	clear: both;
}
p
{
	margin-top: 20px;
}
th
{
	font-size: 30px;
	padding-top: 30px
}
td div
{
	font-size: 18px;
	font-weight: bold;
}
hr
{
	width:12%;
	margin: 5px auto;
	height: 4px;
	background-color: #d65106;
}
.discover
{
	font-family: Tangerine;
	font-size: 70px;
	color: #FFA500;

}

.section-title
{
	font-family: open Sans;
	font-size: 40px;
	color: white;
}
footer
{
	height:370px;
	background-color: #272632;
}


footer ul
{
	list-style: none;
}

footer ul li
{
	display: inline-block;
	padding: 100px 10px;
}

#dropdown
{
	position: relative;

}
#menu-vertical
{
	position: absolute;
	display: none;
	border:solid;
	width:150px;
	background: white;
	border-radius: 5px;
	padding: 5px;
}

#dropdown:hover #menu-vertical
{
	display: block;

}
#menu-vertical li
{
	padding: 8px;
}
#menu-vertical li a:hover
{
	color:#d65106;
	text-decoration: underline;

}
.liens_user
{
	color: black;
	font-weight: bold;
	text-transform: capitalize;
	
}